@font-face {
  font-family: "Anton";
  src: url("/assets/fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.f_anton {
  font-family: 'Anton';
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 0.67em 0;
}